body {
    /*padding-top: 2rem;*/
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1; /* Это заставляет основной контент занимать все доступное пространство */
}

.table {
    --bs-table-bg: transparent; /* Устанавливаем фон таблицы прозрачным */
}

.table tr {
    background-color: inherit; /* Устанавливаем фон рядов таблицы наследующимся от родителя */
}

.navigation-bar {
    grid-template-columns: 1fr 2fr;
}

@media (max-width: 767px) {
    .logo-text {
        font-size: 21px;
    }

    .navigation-bar {
        grid-template-columns: 1fr;
    }
}

.bg-light {
    background-color: #e5eff8 !important;
}

.floating-btn {
    position: fixed;
    border-radius: 50%;
    padding: 20px 25px;
    font-size: 25px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: background-color 0.3s;
    z-index: 1255;
    cursor: pointer;
}

.floating-btn:hover {
    background-color: #2980b9;
}

.floating-btn.add {
    bottom: 100px;
    right: 20px;
    background-color: #f84c4c63;
    color: #ffffff;
}

/*
MEDIA QUERIES
Как использовать эту таблицу:
Mobile-first подход:
Основные стили, которые не обернуты в медиа запросы, применяются к самым маленьким экранам.
Это позволяет начать стилизацию с мобильной версии.

Breakpoints:
Медиа запросы используются для уточнения стилей при увеличении размера экрана.
Каждый новый брейкпоинт добавляет или переопределяет стили для устройств с большим экраном.

Примечания:
Подбор брейкпоинтов:
Выбор брейкпоинтов должен соответствовать содержимому вашего сайта.
Не все сайты требуют всех перечисленных брейкпоинтов. Выбирайте те, которые необходимы для вашего конкретного проекта.

Тестирование:
Всегда тестируйте ваши стили на реальных устройствах или с помощью инструментов разработчика в браузере,
чтобы убедиться, что медиа запросы срабатывают корректно на всех целевых разрешениях экрана.
Используйте эту таблицу медиа запросов как основу для создания отзывчивых веб-страниц,
которые корректно отображаются на устройствах с различными размерами экранов.
*/
/* Основные стили */

/* Extra small devices (телефоны, менее 576px) */
/* Нет необходимости в медиа запросе для xs, так как это mobile-first подход */

/* Small devices (телефоны, 576px и больше) */
@media (min-width: 576px) {
    /* Ваши CSS стили здесь */
}

/* Medium devices (планшеты, 768px и больше) */
@media (min-width: 768px) {
    /* Ваши CSS стили здесь */
}

/* Large devices (настольные компьютеры, 992px и больше) */
@media (min-width: 992px) {
    /* Ваши CSS стили здесь */
}

/* Extra large devices (большие настольные компьютеры, 1200px и больше) */
@media (min-width: 1200px) {
    /* Ваши CSS стили здесь */
}

/* Дополнительно, можно добавить очень большие экраны (1400px и больше) */
@media (min-width: 1400px) {
    /* Ваши CSS стили здесь */
}

/* END MEDIA */